body {
    font-family: Helvetica, sans-serif;
    background-color: #F5F7FB;
    color: #2E344D;
  }
  
  select, input, button {
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px;
  }
  
  div {
    border-radius: 26px;
    padding: 10px;
    margin: 10px 0;
  }
  